<h1>All Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="ID">ID</th>
      <th scope="Name">Name</th>
      <th scope="Email">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
      </tr>
    <%end%>
  </tbody>
</table>
